{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet href="{{ url_for('static', filename='styles/account.css') }}">
{% endblock %}
{% block main %}
  <h2 class="account-name">{{player_name}}</h2>
  <div class="game-score-grid">
    <div id="anagram-score" class="grid-row">
            <h3 class="game-name">Anagram</h3>
    </div>
    <div id="ladder-score" class="grid-row">
            <h3 class="game-name">Ladder</h3>
    </div>
    <div id="grid-score" class="grid-row">
            <h3 class="game-name">Grid</h3>
    </div>
    <div id="rack-score" class="grid-row">
            <h3 class="game-name">Rack</h3>
    </div>
{% endblock %}
