{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet href="{{ url_for('static', filename='styles/inputs.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/anagram.css') }}">
{% endblock %}
{% block main %}
    <div class="outer-wrap">
      <div class="left box-margins">
        <div class="center score fade-in box-margins">
          <div id="score" class="vertical-center">0</div>
        </div>
        <select id="word-length" class="box-margins extra-box-margin" name="check">
          <option name="word-length" value="any-length" selected="selected">Any Length</option>
          <option name="word-length" value="4">4 Letters</option>
          <option name="word-length" value="5">5 Letters</option>
          <option name="word-length" value="6">6 Letters</option>
          <option name="word-length" value="7">7 Letters</option>
          <option name="word-length" value="8">8 Letters</option>
          <option name="word-length" value="9">9 Letters</option>
          <option name="word-length" value="long">Long</option>
        </select>
      </div>
      <div class="right box-margins">
        <div class="button-row box-margins">
          <button id="play" class="play-button button" type="button">Play</button>
          <button id="stop" class="stop-button button" type="button">Stop</button>
        </div>
        <div class="right-box">
          <div id="word-place" class="anagram right-inner box-margins">&nbsp;</div>
          <input id="guess" class="guess box-margins" type="text" name="unscrambled" placeholder="solve...">
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/anagramGame.js') }}"></script>
{% endblock %}
