{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet href="{{ url_for('static', filename='styles/grid.css') }}">
{% endblock %}
{% block main %}
  <input id="guess" class="above-entry word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Find words">
  <div class="game-layout fade-in">
    <div id="rules">
      <div class="sidebar-section">
        <h2 class="sidebar-header">Rules</h2>
        <p class="sidebar-phrase">Four letters plus</p>
        <p class="sidebar-phrase">Use middle letter</p>
      </div>
      <div class="sidebar-section">
        <h2 class="sidebar-header">Guide</h2>
        <p class="sidebar-phrase">Average</p>
        <div class="sidebar-count">0</div>
        <p class="sidebar-phrase">Good</p>
        <div class="sidebar-count">0</div>
        <p class="sidebar-phrase">Excellent</p>
        <div class="sidebar-count">0</div>
      </div>
      <div class="sidebar-section">
        <h2 class="sidebar-header">Found</h2>
        <div class="sidebar-count">0</div>
      </div>
    </div>
    <div id="answers">
      <div id="new-rules">
        <div class="sidebar-section">
          <p class="sidebar-phrase">Rules</p>
          <p class="sidebar-phrase">Four letters plus</p>
          <p class="sidebar-phrase">Use middle letter</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-phrase">Average</p>
          <p class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-phrase">Good</p>
          <p class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-phrase">Excellent</p>
          <p class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-phrase">Found</p>
          <p class="sidebar-count">0</p>
        </div>
      </div>
      <div id="a" class="answer-letter">animal &nbsp; application</div>
      <div id="b" class="answer-letter"></div>
      <div id="c" class="answer-letter"></div>
      <div id="d" class="answer-letter"></div>
      <div id="e" class="answer-letter"></div>
      <div id="f" class="answer-letter">fool &nbsp; fried</div>
      <div id="g" class="answer-letter"></div>
      <div id="h" class="answer-letter"></div>
      <div id="i" class="answer-letter"></div>
      <div id="j" class="answer-letter"></div>
      <div id="k" class="answer-letter"></div>
      <div id="l" class="answer-letter"></div>
      <div id="m" class="answer-letter"></div>
      <div id="n" class="answer-letter"></div>
      <div id="o" class="answer-letter"></div>
      <div id="p" class="answer-letter"></div>
      <div id="q" class="answer-letter"></div>
      <div id="r" class="answer-letter"></div>
      <div id="s" class="answer-letter"></div>
      <div id="t" class="answer-letter"></div>
      <div id="u" class="answer-letter"></div>
      <div id="v" class="answer-letter"></div>
      <div id="w" class="answer-letter"></div>
      <div id="x" class="answer-letter"></div>
      <div id="y" class="answer-letter"></div>
      <div id="z" class="answer-letter"></div>
    </div>
    <div id="word-grid">
      <div id="letter1" class="letter-square"></div>
      <div id="letter2" class="letter-square"></div>
      <div id="letter3" class="letter-square"></div>
      <div id="letter4" class="letter-square"></div>
      <div id="letter5" class="letter-square"></div>
      <div id="letter6" class="letter-square"></div>
      <div id="letter7" class="letter-square"></div>
      <div id="letter8" class="letter-square"></div>
      <div id="letter9" class="letter-square"></div>
    </div>
  </div>
  <input id="guess" class="below-entry word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Find words">
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
{% endblock %}
