{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet href="{{ url_for('static', filename='styles/inputs.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/grid.css') }}">
{% endblock %}
{% block main %}
  <div class="outer-wrap">
    <div class="left">
      <div id="buttons" class="button-row">
        <button id="again" class="button" type="button">New</button>
        <button id="stop" class="button" type="button">Stop</button>
      </div>
      <div class="puzzle-grid">
        <div id="letter1" class="puzzle-square">&nbsp;</div>
        <div id="letter2" class="puzzle-square">&nbsp;</div>
        <div id="letter3" class="puzzle-square">&nbsp;</div>
        <div id="letter4" class="puzzle-square">&nbsp;</div>
        <div id="letter5" class="puzzle-square">&nbsp;</div>
        <div id="letter6" class="puzzle-square">&nbsp;</div>
        <div id="letter7" class="puzzle-square">&nbsp;</div>
        <div id="letter8" class="puzzle-square">&nbsp;</div>
        <div id="letter9" class="puzzle-square">&nbsp;</div>
      </div>
      <input id="guess" class="word-box box-margins" type="text" name="unscrambled" placeholder="Find words">
      <div id="nine-letter-word" class="nine-letter-word"></div>
    </div>
    <div class="right">
      <div class="rules-bar">
        <div class="sidebar-section">
          <p class="sidebar-header">Rules</p>
          <p class="rule sidebar-phrase">Four letters plus</p>
          <p class="rule sidebar-phrase">No plural words</p>
          <p class="rule sidebar-phrase">Use middle letter</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-header">Average</p>
          <p id="average" class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-header">Good</p>
          <p id="good" class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-header">Excellent</p>
          <p id="excellent" class="sidebar-count">0</p>
        </div>
        <div class="sidebar-section">
          <p class="sidebar-header">Found</p>
          <p id="score" class="sidebar-count">0</p>
        </div>
      </div>
      <div id="a" class="answer-letter"></div>
      <div id="answer_a" class="answer-letter final-answer-letter"></div>
      <div id="b" class="answer-letter"></div>
      <div id="answer_b" class="answer-letter final-answer-letter"></div>
      <div id="c" class="answer-letter"></div>
      <div id="answer_c" class="answer-letter final-answer-letter"></div>
      <div id="d" class="answer-letter"></div>
      <div id="answer_d" class="answer-letter final-answer-letter"></div>
      <div id="e" class="answer-letter"></div>
      <div id="answer_e" class="answer-letter final-answer-letter"></div>
      <div id="f" class="answer-letter"></div>
      <div id="answer_f" class="answer-letter final-answer-letter"></div>
      <div id="g" class="answer-letter"></div>
      <div id="answer_g" class="answer-letter final-answer-letter"></div>
      <div id="h" class="answer-letter"></div>
      <div id="answer_h" class="answer-letter final-answer-letter"></div>
      <div id="i" class="answer-letter"></div>
      <div id="answer_i" class="answer-letter final-answer-letter"></div>
      <div id="j" class="answer-letter"></div>
      <div id="answer_j" class="answer-letter final-answer-letter"></div>
      <div id="k" class="answer-letter"></div>
      <div id="answer_k" class="answer-letter final-answer-letter"></div>
      <div id="l" class="answer-letter"></div>
      <div id="answer_l" class="answer-letter final-answer-letter"></div>
      <div id="m" class="answer-letter"></div>
      <div id="answer_m" class="answer-letter final-answer-letter"></div>
      <div id="n" class="answer-letter"></div>
      <div id="answer_n" class="answer-letter final-answer-letter"></div>
      <div id="o" class="answer-letter"></div>
      <div id="answer_o" class="answer-letter final-answer-letter"></div>
      <div id="p" class="answer-letter"></div>
      <div id="answer_p" class="answer-letter final-answer-letter"></div>
      <div id="q" class="answer-letter"></div>
      <div id="answer_q" class="answer-letter final-answer-letter"></div>
      <div id="r" class="answer-letter"></div>
      <div id="answer_r" class="answer-letter final-answer-letter"></div>
      <div id="s" class="answer-letter"></div>
      <div id="answer_s" class="answer-letter final-answer-letter"></div>
      <div id="t" class="answer-letter"></div>
      <div id="answer_t" class="answer-letter final-answer-letter"></div>
      <div id="u" class="answer-letter"></div>
      <div id="answer_u" class="answer-letter final-answer-letter"></div>
      <div id="v" class="answer-letter"></div>
      <div id="answer_v" class="answer-letter final-answer-letter"></div>
      <div id="w" class="answer-letter"></div>
      <div id="answer_w" class="answer-letter final-answer-letter"></div>
      <div id="x" class="answer-letter"></div>
      <div id="answer_x" class="answer-letter final-answer-letter"></div>
      <div id="y" class="answer-letter"></div>
      <div id="answer_y" class="answer-letter final-answer-letter"></div>
      <div id="z" class="answer-letter"></div>
      <div id="answer_z" class="answer-letter final-answer-letter"></div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/gridGame.js') }}"></script>
{% endblock %}
