{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet href="{{ url_for('static', filename='styles/grid.css') }}">
{% endblock %}
{% block main %}
  <input id="guess" class="above-entry word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Find words">
  <div class="game-layout fade-in">
    <div id="word-grid">
      <div id="letter1" class="letter-square"></div>
      <div id="letter2" class="letter-square"></div>
      <div id="letter3" class="letter-square"></div>
      <div id="letter4" class="letter-square"></div>
      <div id="letter5" class="letter-square"></div>
      <div id="letter6" class="letter-square"></div>
      <div id="letter7" class="letter-square"></div>
      <div id="letter8" class="letter-square"></div>
      <div id="letter9" class="letter-square"></div>
    </div>
    <div id="answers">
      <div>&nbsp;</div>
      <div id="a"></div>
      <div id="b"></div>
      <div id="c"></div>
      <div id="d"></div>
      <div id="e"></div>
      <div id="f"></div>
      <div id="g"></div>
      <div id="h"></div>
      <div id="i"></div>
      <div id="j"></div>
      <div id="k"></div>
      <div id="l"></div>
      <div id="m"></div>
      <div id="n"></div>
      <div id="o"></div>
      <div id="p"></div>
      <div id="q"></div>
      <div id="r"></div>
      <div id="s"></div>
      <div id="t"></div>
      <div id="u"></div>
      <div id="v"></div>
      <div id="w"></div>
      <div id="x"></div>
      <div id="y"></div>
      <div id="z"></div>
    </div>
  </div>
  <input id="guess" class="below-entry word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Find words">
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
{% endblock %}
