{% extends "layout.html" %}
{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="games game-link-block">
  <div id="navlink1" class="game game-nav">
    <a class="game-nav" href="{{ url_for('anagram') }}">Anagram</a>
  </div>
  <div id="navlink2" class="game game-nav">
    <a class="game-nav" href="{{ url_for('ladder') }}">Ladder</a>
  </div>
  <div id="navlink3" class="game game-nav">
    <a class="game-nav" href="{{ url_for('grid') }}">Grid</a>
  </div>
  <div id="navlink4" class="game game-nav">
    <a class="game-nav" href="{{ url_for('rack') }}">Rack</a>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
