<!DOCTYPE html>
<html>
  <head>
  </head>
  <p id="word-place"></p>
  <p id="result"></p>
  <form id="guess-form">
    <input id="guess" type="text" name="unscrambled" placeholder="Solve anagram">
    <input type="submit" value="Submit">
  </form>
  {% block scripts %}
    <script>
      const wordData = {{ data|tojson|safe }};

      document.addEventListener("DOMContentLoaded", function () {
        const [anagram, solution] = wordData;
        const target = document.getElementById("word-place");
        target.innerText = anagram;
        const guessForm = document.getElementById("guess-form");
        guessForm.addEventListener("submit", function (e) {
          const anagramGuess = document.getElementById("guess").value;
          const answer = document.getElementById("result");
          if (anagramGuess === solution) {
            answer.innerText = "CORRECT!";
          } else {
            answer.innerText = "Try Again...";
          } 
          e.preventDefault();
          guessForm.reset();
        });
      });
      
    </script>
  {% endblock %}
  <body>
  </body>
</html>
