{% extends "layout.html" %}
{% block main %}
  <div class="center score fade-in"><p id="score" class="vertical-center">0</p></div>
  <div id="buttons" class="center box-margins fade-in">
    <button id="play" class="button" type="button">Play</button>
    <button id="stop" class="button" type="button">Stop</button>
  </div>
  <div id="word-place" class="center anagram-text box-margins">&nbsp;</div>
  <input id="guess" class="word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Solve anagram">
  <div id="results" class="center feedback-text">
    <div id="solution"></div>
    <div id="final-score"></div>
  </div>
{% endblock %}
