{% extends "layout.html" %}
{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/inputs.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/ladder.css') }}">
{% endblock %}
{% block main %}
    <div class="button-row">
      <button id="play" class="play button" type="button">Play</button>
      <button id="stop" class="stop button" type="button">Stop</button>
    </div>
    <div class="outer-wrap">
      <div class="left">
        <div class="ladder">
          <div id="length4" class="hidden-rung ladder-length ladder-box">4</div>
          <div id="word4" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length5" class="hidden-rung ladder-length ladder-box">5</div>
          <div id="word5" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length6" class="hidden-rung ladder-length ladder-box">6</div>
          <div id="word6" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length7" class="hidden-rung ladder-length ladder-box">7</div>
          <div id="word7" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length8" class="hidden-rung ladder-length ladder-box">8</div>
          <div id="word8" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length9" class="hidden-rung ladder-length ladder-box">9</div>
          <div id="word9" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length10" class="hidden-rung ladder-length ladder-box">10</div>
          <div id="word10" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length11" class="hidden-rung ladder-length ladder-box">11</div>
          <div id="word11" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length12" class="hidden-rung ladder-length ladder-box">12</div>
          <div id="word12" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length13" class="hidden-rung ladder-length ladder-box">13</div>
          <div id="word13" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length14" class="hidden-rung ladder-length ladder-box">14</div>
          <div id="word14" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length15" class="hidden-rung ladder-length ladder-box">15</div>
          <div id="word15" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length16" class="hidden-rung ladder-length ladder-box">16</div>
          <div id="word16" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length17" class="hidden-rung ladder-length ladder-box">17</div>
          <div id="word17" class="hidden-rung ladder-word ladder-box"></div>
          <div id="length18" class="hidden-rung ladder-length ladder-box">18</div>
          <div id="word18" class="hidden-rung ladder-word ladder-box"></div>
        </div>
      </div>
      <div class="right">
        <div class="right-box">
          <div id="word-place" class="anagram right-inner box-margins">&nbsp;</div>
          <input id="guess" class="guess right-inner box-margins" type="text" name="unscrambled" placeholder="Solve anagram">
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ladderGame.js') }}"></script>
{% endblock %}
