{% extends "layout.html" %}
{% block main %}
  <h2 class="site-title fade-in">Solve anagrams of increasing length</h2>
  <div class="center score fade-in">
    <div id="score" class="vertical-center">0</div>
  </div>
  <div id="buttons" class="center box-margins fade-in">
    <button id="play" class="button" type="button">Play</button>
    <button id="stop" class="button" type="button">Stop</button>
  </div>
  <div id="word-place" class="center anagram-text box-margins">&nbsp;</div>
  <input id="guess" class="word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Solve anagram">
  <div id="results" class="center feedback-text box-margins">
    <div id="solution"></div>
    <div id="final-score"></div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ladderGame.js') }}"></script>
{% endblock %}
