<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav class="main-nav">
    {% if session.user_id %}
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('account') }}">Account</a>
      <a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </nav>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {% block scripts %}
    <script src="{{ url_for('static', filename='fetchAnagram2.js') }}"></script>
  {% endblock %}
</body>
</html>
