{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/rack2.css') }}">
{% endblock %}
{% block main %}
  <div class="outer-wrap">
    <div class="rack box-shadow-3d">
      <div id="letter1" class="tile"></div>
      <div id="letter2" class="tile"></div>
      <div id="letter3" class="tile"></div>
      <div id="letter4" class="tile"></div>
      <div id="letter5" class="tile"></div>
      <div id="letter6" class="tile"></div>
      <div id="letter7" class="tile rightmost"></div>
    </div>
    <input id="guess" class="above-entry word-box box-margins fade-in" type="text" name="unscrambled" placeholder="Find words">
    <button id="submit-word" class="button" type="button">Submit</button>
    <div class="wrapper">
      <div class="box box-title word-title">Word</div>
      <div class="box box-title best-title">Best</div>
      <div class="box">
        <div id="round1a" class="flex-bit">
          <div id="round1a-word"  class="flex-word"></div>
          <div id="round1a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round1b" class="flex-bit">
          <div id="round1b-word"  class="flex-word"></div>
          <div id="round1b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round2a" class="flex-bit">
          <div id="round2a-word"  class="flex-word"></div>
          <div id="round2a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round2b" class="flex-bit">
          <div id="round2b-word"  class="flex-word"></div>
          <div id="round2b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round3a" class="flex-bit">
          <div id="round3a-word"  class="flex-word"></div>
          <div id="round3a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round3b" class="flex-bit">
          <div id="round3b-word"  class="flex-word"></div>
          <div id="round3b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round4a" class="flex-bit">
          <div id="round4a-word"  class="flex-word"></div>
          <div id="round4a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round4b" class="flex-bit">
          <div id="round4b-word"  class="flex-word"></div>
          <div id="round4b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round5a" class="flex-bit">
          <div id="round5a-word"  class="flex-word"></div>
          <div id="round5a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round5b" class="flex-bit">
          <div id="round5b-word"  class="flex-word"></div>
          <div id="round5b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round6a" class="flex-bit">
          <div id="round6a-word"  class="flex-word"></div>
          <div id="round6a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round6b" class="flex-bit">
          <div id="round6b-word"  class="flex-word"></div>
          <div id="round6b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round7a" class="flex-bit">
          <div id="round7a-word"  class="flex-word"></div>
          <div id="round7a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round7b" class="flex-bit">
          <div id="round7b-word"  class="flex-word"></div>
          <div id="round7b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round8a" class="flex-bit">
          <div id="round8a-word"  class="flex-word"></div>
          <div id="round8a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round8b" class="flex-bit">
          <div id="round8b-word"  class="flex-word"></div>
          <div id="round8b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round9a" class="flex-bit">
          <div id="round9a-word"  class="flex-word"></div>
          <div id="round9a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round9b" class="flex-bit">
          <div id="round9b-word"  class="flex-word"></div>
          <div id="round9b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round10a" class="flex-bit">
          <div id="round10a-word"  class="flex-word"></div>
          <div id="round10a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round10b" class="flex-bit">
          <div id="round10b-word"  class="flex-word"></div>
          <div id="round10b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round11a" class="flex-bit">
          <div id="round11a-word"  class="flex-word"></div>
          <div id="round11a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round11b" class="flex-bit">
          <div id="round11b-word"  class="flex-word"></div>
          <div id="round11b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round12a" class="flex-bit">
          <div id="round12a-word"  class="flex-word"></div>
          <div id="round12a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round12b" class="flex-bit">
          <div id="round12b-word"  class="flex-word"></div>
          <div id="round12b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round13a" class="flex-bit">
          <div id="round13a-word"  class="flex-word"></div>
          <div id="round13a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round13b" class="flex-bit">
          <div id="round13b-word"  class="flex-word"></div>
          <div id="round13b-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box">
        <div id="round14a" class="flex-bit">
          <div id="round14a-word"  class="flex-word"></div>
          <div id="round14a-score" class="flex-score"></div>
        </div>
      </div>
      <div class="box right-column">
        <div id="round14b" class="flex-bit">
          <div id="round14b-word"  class="flex-word"></div>
          <div id="round14b-score" class="flex-score"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/rackGame.js') }}"></script>
{% endblock %}
