{% extends "layout.html" %}
{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/inputs.css') }}">
  <link rel=stylesheet href="{{ url_for('static', filename='styles/rack4.css') }}">
{% endblock %}
{% block main %}
    <div class="flex-main">
      <div class="buttons-word-input">
        <div id="final-player-score" class="final-score box-margins funky-a">0</div>
        <div id="final-best-score" class="final-score box-margins funky-b">0</div>
        <div class="funky-c box-margins">
          <div class="rack box-shadow-3d">
            <div id="letter1" class="tile"></div>
            <div id="letter2" class="tile"></div>
            <div id="letter3" class="tile"></div>
            <div id="letter4" class="tile"></div>
            <div id="letter5" class="tile"></div>
            <div id="letter6" class="tile"></div>
            <div id="letter7" class="tile rightmost"></div>
          </div>
        </div>
        <div class="funky-d box-margins">
          <input id="guess" class="guess box-margins" type="text" name="unscrambled" placeholder="find words...">
        </div>
        <div class="funky-e box-margins extra-box-margin">
          <button id="submit-word" class="submit-button button box-margins" type="button">Word</button>
        </div>
        <div class="funky-f box-margins extra-box-margin">
          <button id="pass" class="play-button button box-margins" type="button">Pass</button>
        </div>
        <div class="funky-g box-margins extra-box-margin">
          <button id="stop" class="stop-button button box-margins" type="button">Stop</button>
        </div>
      </div>

      <div class="score-word-output">
        <div class="player-answers" id="round1a-word"></div>
        <div class="player-answers" id="round1a-score"></div>
        <div class="best-answers"   id="round1b-word"></div>
        <div class="best-answers"   id="round1b-score"></div>
        <div class="player-answers" id="round2a-word"></div>
        <div class="player-answers" id="round2a-score"></div>
        <div class="best-answers"   id="round2b-word"></div>
        <div class="best-answers"   id="round2b-score"></div>
        <div class="player-answers" id="round3a-word"></div>
        <div class="player-answers" id="round3a-score"></div>
        <div class="best-answers"   id="round3b-word"></div>
        <div class="best-answers"   id="round3b-score"></div>
        <div class="player-answers" id="round4a-word"></div>
        <div class="player-answers" id="round4a-score"></div>
        <div class="best-answers"   id="round4b-word"></div>
        <div class="best-answers"   id="round4b-score"></div>
        <div class="player-answers" id="round5a-word"></div>
        <div class="player-answers" id="round5a-score"></div>
        <div class="best-answers"   id="round5b-word"></div>
        <div class="best-answers"   id="round5b-score"></div>
        <div class="player-answers" id="round6a-word"></div>
        <div class="player-answers" id="round6a-score"></div>
        <div class="best-answers"   id="round6b-word"></div>
        <div class="best-answers"   id="round6b-score"></div>
        <div class="player-answers" id="round7a-word"></div>
        <div class="player-answers" id="round7a-score"></div>
        <div class="best-answers"   id="round7b-word"></div>
        <div class="best-answers"   id="round7b-score"></div>
        <div class="player-answers" id="round8a-word"></div>
        <div class="player-answers" id="round8a-score"></div>
        <div class="best-answers"   id="round8b-word"></div>
        <div class="best-answers"   id="round8b-score"></div>
        <div class="player-answers" id="round9a-word"></div>
        <div class="player-answers" id="round9a-score"></div>
        <div class="best-answers"   id="round9b-word"></div>
        <div class="best-answers"   id="round9b-score"></div>
        <div class="player-answers" id="round10a-word"></div>
        <div class="player-answers" id="round10a-score"></div>
        <div class="best-answers"   id="round10b-word"></div>
        <div class="best-answers"   id="round10b-score"></div>
        <div class="player-answers" id="round11a-word"></div>
        <div class="player-answers" id="round11a-score"></div>
        <div class="best-answers"   id="round11b-word"></div>
        <div class="best-answers"   id="round11b-score"></div>
        <div class="player-answers" id="round12a-word"></div>
        <div class="player-answers" id="round12a-score"></div>
        <div class="best-answers"   id="round12b-word"></div>
        <div class="best-answers"   id="round12b-score"></div>
        <div class="player-answers" id="round13a-word"></div>
        <div class="player-answers" id="round13a-score"></div>
        <div class="best-answers"   id="round13b-word"></div>
        <div class="best-answers"   id="round13b-score"></div>
        <div class="player-answers" id="round14a-word"></div>
        <div class="player-answers" id="round14a-score"></div>
        <div class="best-answers"   id="round14b-word"></div>
        <div class="best-answers"   id="round14b-score"></div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/rackGame.js') }}"></script>
{% endblock %}
