{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=stylesheet href="{{ url_for('static', filename='styles/rack3.css') }}">
  </head>
{% endblock %}
{% block main %}
  <body>
    <div id="main-one" class="flex-main">
      <div class="buttons-word-input">
        <div class="funky-bit funky-c">
          <div class="rack box-shadow-3d">
            <div id="letter1" class="tile"></div>
            <div id="letter2" class="tile"></div>
            <div id="letter3" class="tile"></div>
            <div id="letter4" class="tile"></div>
            <div id="letter5" class="tile"></div>
            <div id="letter6" class="tile"></div>
            <div id="letter7" class="tile rightmost"></div>
          </div>
        </div>
        <div class="funky-bit funky-d"></div>
        <div class="funky-bit funky-e"></div>
        <div class="funky-bit funky-f"></div>
        <div class="funky-bit funky-g"></div>
      </div>
      <div class="score-word-output">
        <div class="funky-bit funky-a"></div>
        <div class="funky-bit funky-b"></div>
        <div class="funky-bit funky-i"></div>
      </div>
    </div>
  </body>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/rackGame.js') }}"></script>
{% endblock %}
