{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" media="screen" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/authentication.css') }}"
{% endblock %}
{% block main %}
<h2 class="form-title">Register</h2>
    <form action="{{ url_for('register') }}" method="post" class="form-group center-div">
      <dl>
        {{ wtf.quick_form(form) }}
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </dl>
    </form>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/authentication.js') }}"></script>
{% endblock %}
