.game-layout {
        display: flex;
        flex-wrap: wrap-reverse;
}

#word-grid {
        flex: 0 0 33%;
        background-color: dimgray;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        min-width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.5em;
        justify-content: center;
        align-items: center;
}

#answers {
        flex: 9999 0 66%;
        min-width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.5em;
}

.grid-title {
        text-align: center;
}

.letter-square {
        flex: 0 0 31%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        padding-bottom: 15.5%;
        padding-top: 15.5%;
        margin: 0.75%;
        background-color: ghostwhite;
        font-size: 3em;
        color: darkslategray;
        font-weight: bold;
}
