body {
  font-size: 16px;
  font-family: Sans-Serif;
}


/* TEMP */
.main-site-nav {
        display: none;
}


/* Outline */

.outer-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-items: center;
        align-self: center;
        text-align: center;
}

.left {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3%;
}

.right {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3%;
}


/* Puzzle grid */

.puzzle-grid {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
}

.puzzle {
        display: grid;
        grid-gap: 1px;
        background-color: slategrey;
        grid-template-columns: repeat(3, 1fr)
}

.puzzle>div {
        position: relative;
}

.puzzle>div:before {
        display: table;
        padding-top: 100%;
        content: '';
}

.puzzle-square {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: ghostwhite;
        font-size: 200%;
        color: darkslategray;
        font-weight: bold;
}



/* Rules and words-found count */

.rules-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-color: dimgray;
        margin-bottom: 1em;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
}

.sidebar-header {
        text-align: center;
        font-weight: bold;
}

.sidebar-section {
        margin-right 2em;
        display: inline-block;
}

.sidebar-phrase {
        text-align: center;
}

.rule {
        color: cornflowerblue;
}

.sidebar-count {
        text-align: center;
        font-size: 2em;
}

#score {
        color: #EE6C4D;
        font-weight: bold;
}



/* Feedback */

.answer-letter {
        font-size: 150%;
        color: #09BC8A;
        text-align: left;
        line-height: 1.5;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
}

.final-answer-letter {
        color: slategrey;
}

.nine-letter-word {
        color: #EE6C4D;
        font-size: 250%;
}



@media only screen and (max-width: 961px) {
        
        .outer-wrap {
                flex-direction: column;
        }
}

@media only screen and (max-width: 740px) {
        
        .outer-wrap {
                flex-direction: column-reverse;
        }
        
        .puzzle-grid {
                width: 75%;
        }

        .rules-bar {
                width: 95%;
        }

        .answer-letter {
                width: 95%;
        }
}
