body {
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
}

/* TEMP */
.main-site-nav {
        display: none;
}


.game-link-grid {
        display: grid;
        grid-template-areas:
               "a a a a a a"
               "b b b b b b";
        align-items: stretch;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
}

.game-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        text-align: center;
}

#row-one {
        grid-area: a;
}

#row-two {
        grid-area: b;
}


.game {
        display: flex;
        flex-direction: column;
}

.game-link {
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 8%;
        font-size: 450%;
        border-radius: 8%;
        min-width: 500px;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
}

.game-description {
        font-size: 18px;
        font-weight: normal;
        color: slategrey;
        margin-top: 5px;
}

#game-link-1 {
        background-color: #084887;
        flex: 1;
}

#game-link-2 {
        background-color: #F06449;
        flex: 1;
}

#game-link-3 {
        background-color: #F6AE2D;
        flex: 1;
}

#game-link-4 {
        background-color: #F58A07;
        flex: 1;
}


@media only screen and (min-width: 2450px) {
        .game-link-grid {
                width: 60%;
        }

}

@media only screen and (max-width: 680px) {
        .game-link {
                min-width: 95%;
                max-width: 95%;
                font-size: 400%;
        }
        
        .game {
                min-width: 95%;
                max-width: 95%;
        }
}

@media only screen and (max-width: 360px) {
        .game-link {
                font-size: 300%;
        }
}
