body {
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
}

/* TEMP */
.main-site-nav {
        display: none;
}


.game-link-grid {
        display: grid;
        /*grid-gap: 5px;*/
        grid-template-areas:
               "a a a a a a"
               "b b b b b b";
        align-items: stretch;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
}

.game-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /*margin-top: 5px;*/
        text-align: center;
}

#row-one {
        grid-area: a;
}

#row-two {
        grid-area: b;
}

.game-nav {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 450%;
        border-radius: 8%;
        /*width: 80%;*/
        min-width: 500px;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        padding: 0.15em;
}

#navlink1 {
        background-color: darkred;
        flex: 1;
}

#navlink2 {
        background-color: darkslateblue;
        flex: 1;
}

#navlink3 {
        background-color: dodgerblue;
        flex: 1;
}

#navlink4 {
        background-color: chocolate;
        flex: 1;
}



@media only screen and (max-width: 680px) {
        .game-nav {
                min-width: 95%;
                max-width: 95%;
                font-size: 400%;
                margin-right: auto;
                margin-left: auto;
        }
}


@media only screen and (max-width: 380px) {
        .game-nav {
                font-size: 300%;
        }
}
