body {
  font-size: 16px;
}


/* TEMP */
.main-site-nav {
        display: none;
}

.site-title {
        text-align: center;
        color: #008CBA;
        font-size: 300%;
}


/* Button row */

.button-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}

.button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 150%;
  padding: 0.5%;
  text-decoration: none;
  outline: none;
  border: none;
}

.play {
  flex: 0 0 10%;
  margin-left: auto;
  margin-right: auto;
}

.stop {
  flex: 0 0 10%;
  margin-left: auto;
  margin-right: auto;
}



/* Outer box */

.outer-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
  align-self: center;
  text-align: center;
}



/* Left: ladder */

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3%;
}

.ladder {
  flex: 1;
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-items: center;
  justify-items: stretch;
  padding: 3%;
}

.ladder-box {
  font-size: 150%;
  text-align: center;
  border-style: solid;
  border-color: #444;
  border-width: 0;
  padding: 4%;
}

.ladder-length {
  border-right-width: 0;
  border-left-width: 0;
  color: #444;
}

.ladder-word {
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  margin-left: 8%;
  margin-right: 8%;
}

.hidden-rung {
  display: none;
}

.ladder-word-odd {
  border-bottom-width: 1px;
}

.ladder-current-rung {
  background-color: moccasin;
}



/* Rungs */

#length4 { grid-area: 1 / 1; }
#word4   { grid-area: 1 / 2; border-top-width: 0; }
#length5 { grid-area: 2 / 1; }
#word5   { grid-area: 2 / 2; }
#length6 { grid-area: 3 / 1; }
#word6   { grid-area: 3 / 2; }
#length7 { grid-area: 4 / 1; }
#word7   { grid-area: 4 / 2; }
#length8 { grid-area: 5 / 1; }
#word8   { grid-area: 5 / 2; }
#length9 { grid-area: 6 / 1; }
#word9   { grid-area: 6 / 2; }
#length10 { grid-area: 7 / 1; }
#word10   { grid-area: 7 / 2; }
#length11 { grid-area: 8 / 1; }
#word11   { grid-area: 8 / 2; }
#length12 { grid-area: 9 / 1; }
#word12   { grid-area: 9 / 2; }
#length13 { grid-area: 10 / 1; }
#word13   { grid-area: 10 / 2; }
#length14 { grid-area: 11 / 1; }
#word14   { grid-area: 11 / 2; }
#length15 { grid-area: 12 / 1; }
#word15   { grid-area: 12 / 2; }
#length16 { grid-area: 13 / 1; }
#word16   { grid-area: 13 / 2; }
#length17 { grid-area: 14 / 1; }
#word17   { grid-area: 14 / 2; }
#length18 { grid-area: 15 / 1; }
#word18   { grid-area: 15 / 2; }




/* Right: anagram, guess, rules */

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3%;
}

.right-box {
  /*display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto
  width: 100%;*/
}

.right-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 300%;
}

.anagram {
  /*background-color: sienna;
  color: white;*/
}

.guess {
  /*background-color: navajowhite;
  color: #444;*/
}



/* Media queries */

@media only screen and (max-width: 680px) {
  .outer-wrap {
  flex-direction: column-reverse;
}
}

@media only screen and (max-width: 450px) {
  .outer-wrap {
  flex-direction: column;
}
}
