/* Main layout */

.flex-main {
        display: flex;
        flex-direction: row;  
        align-items: flex-start;
        justify-items: flex-start;
        align-self: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
}


.buttons-word-input {
        flex: 1;
        display: grid;
        grid-template-areas:               
               "a a a b b b"
               "c c c c c c"
               "d d d d d d"
               "e e f f g g";
        align-items: stretch;
        align-self: flex-start;
}
.funky-a {
        grid-area: a;
}
.funky-b {
        grid-area: b;
}

.funky-c {
        grid-area: c;
}

.funky-d {
        grid-area: d;
        align-self: start;
        align-content: center;
        text-align: center;
}

.funky-e {
        grid-area: e;
        align-self: start;
        align-content: center;
        text-align: center;
}

.funky-f {
        grid-area: f;
        align-self: center;
        align-content: center;
        text-align: center;
}

.funky-g {
        grid-area: g;
        align-self: end;
        align-content: center;
        text-align: center;
}



.rack {
        width: 95%;
        height: 6em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: khaki;
}

.tile {
        flex: 1 0 0;
        border-right: 2px;
        border-right-style: solid;
        border-right-color: slategray;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 2em;
        color: dimgray;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: khaki;
}

.rightmost {
        border: none;
}

.box-shadow-3d{
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}


/* Answer box and scores */

.score-word-output {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 0.25fr 1.5fr 0.25fr;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        text-align: center;
        width: 80%;
        line-height: 1.5;
}

.answers {
        display: grid;
        grid-template-columns: 0.5fr 0.25fr 1.5fr 0.25fr;
}

.box {
        padding: 20px;
        font-size: 150%;
        text-align: center;
}

.score-box {
        padding: 20px;
        font-size: 150%;
        text-align: center;
}

.right-column {
        border-right-width: 1px;
}

.word-output {
        text-align: center;
}

.final-score {
        color: cornflowerblue;
        font-size: 300%;
        text-align: center;
}

.player-answers {
        font-weight: bold;
        font-size: 150%;
}

.best-answers {
        font-size: 125%;
        color: lightgrey;
}

.correct {
        font-size: 125%;
        color: #09BC8A;
        font-weight: bold;
}

.incorrect {
        font-size: 125%;
        color: lightgrey;
        font-weight: bold;
}

.correction {
        font-size: 125%;
        color: slategray;
        font-weight: bold;
}


@media only screen and (max-width: 961px) {

        .flex-main {
                flex-direction: column;
        }
        
        .buttons-word-input, .score-word-output {
                min-width: 90%;
                margin-left: auto;
                margin-right: auto;
        }

        .player-answers {
                text-align: left;
        }
}

@media only screen and (max-width: 740px) {

        .flex-main {
                flex-direction: column-reverse;
        }
}
