/* Main layout */

.flex-main {
        display: flex;
        flex-direction: row;  
        align-items: flex-start;
        justify-items: flex-start;
        align-self: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
}


.buttons-word-input {
        flex: 1;
        display: grid;
        grid-template-areas:               
               "a a x x b b"
               "c c c c c c"
               "s s s s s s"
               "d d d d d d"
               "e e f f g g"
               "p p p p p p";
        align-items: stretch;
        align-self: flex-start;
}

/* Scores and divider */
.funky-a {
        grid-area: a;
}

.funky-x {
        grid-area: x;
}

.funky-b {
        grid-area: b;
}

/* The word grid */
.funky-c {
        grid-area: c;
}

/* Letter scores */
.funky-s {
        grid-area: s;
        align-self: center;
        align-content: center;
        justify-content: space-around;
        text-align: center;
        display: flex;
        flex-direction: row;
}

/* Input box */
.funky-d {
        grid-area: d;
        align-self: start;
        align-content: center;
        text-align: center;
}

/* Buttons */
.funky-e {
        grid-area: e;
}

.funky-f {
        grid-area: f;
}

.funky-g {
        grid-area: g;
}

.rack-button {
        justify-content: center;
        text-align: center;
        margin-top: 10%;
}

/* Percentage score */
.funky-p {
        grid-area: p;
        align-self: start;
        align-content: center;
        text-align: center;
}

.letter-scores {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 0.25em;
        margin-bottom: 1em;
        color: lightgrey;
        font-weight: bolder;
}

.rack {
        width: 95%;
        height: 6em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #FCF7F8;
}

.tile {
        flex: 1 0 0;
        border-right: 2px;
        border-right-style: solid;
        border-right-color: slategray;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 2em;
        color: dimgray;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #FCF7F8;
}

.rightmost {
        border: none;
}

.box-shadow-3d{
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}


/* Answer box and scores */

.score-word-output {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 0.25fr 1.5fr 0.25fr;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        text-align: center;
        width: 80%;
        line-height: 2.5;
}

.answers {
        display: grid;
        grid-template-columns: 0.5fr 0.25fr 1.5fr 0.25fr;
}

.box {
        padding: 20px;
        font-size: 150%;
        text-align: center;
}

.score-box {
        padding: 20px;
        font-size: 150%;
        text-align: center;
}

.right-column {
        border-right-width: 1px;
}

.word-output {
        text-align: center;
}

.final-score {
        color: cornflowerblue;
        font-size: 300%;
        text-align: center;
}

.player-answers {
        font-size: 150%;
}

.best-answers {
        font-size: 125%;
        color: lightgrey;
}

.correct {
        font-size: 125%;
        color: #09BC8A;
}

.incorrect {
        font-size: 125%;
        color: lightgrey;
}

.correction {
        font-size: 125%;
        color: slategray;
}

.final-percentage {
        color: #EE6C4D;
        font-size: 400%;
        margin-top: 1.5em;
}


@media only screen and (max-width: 961px) {

        .flex-main {
                flex-direction: column;
        }
        
        .buttons-word-input, .score-word-output {
                min-width: 90%;
                margin-left: auto;
                margin-right: auto;
        }

        .score-word-output {
                margin-bottom: 20px;
        }

        .player-answers {
                text-align: left;
        }
}

@media only screen and (max-width: 740px) {

        .flex-main {
                flex-direction: column-reverse;
        }
}
