body {
        font-family: sans-serif;
}


.word-box {
        width: 100%;
        display: block;
        height: 5vh;
}


.button {
        background-color:#008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5em;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        outline: none;
}


input[type="text"] {
        font-size: 5vw;
        border-radius: 8px;
        outline: none;
}


.center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}


.full-width {
        width: 100%;
}


.box-margins {
        margin-top: 2.5%;
        margin-bottom: 2.5%
}


.fade-in {
        animation: fadein 3s;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.anagram-text {
        font-size: 3em;
}

.feedback-text {
        font-size: 1.5em;
}

select {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1;
    background: #D2D5D6;
    color: #777D80;
    font-size: 7vw;
    border-radius: 8px;
}


.score {
        font-size: 3em;
        color: white;
        background-color: #B22222;
        border-radius: 50%;
        width: 2em;
        height: 2em;
}

#score {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
}


.main-nav {
        display: inline;
}


.site-title {
        font-size: 3em;
        text-align: center;
}


.navlink {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        text-decoration: none;
        color: white;
        /*width: 100%;*/
        font-size: 7vh;
        border-radius: 8%;
}


.site-nav {
        text-align: center;
        color: white;
        text-decoration: none;
        width: 33.333%;
        font-size: 5vh;
        border-radius: 8%;
        background-color: #008CBA;
        margin: 1%;
}


.nav-margin {
        margin-bottom: 5%;
}


#navlink1 {
        background-color: #008CBA;
}


#navlink2 {
        background-color: #A52A2A;
}


.game-block {
        margin-top: 5%;
}

.flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
}

.flex-full-unit {
        flex: 0 0 100%;
        margin-left: auto;
        margin-right: auto;
        min-width: 600px;
}

.flex-half-unit {
        flex: 0 0 50%;
        margin-left: auto;
        margin-right: auto;
        min-width: 600px;
}

.flex-third-unit {
        flex: 0 0 33%;
        margin-left: auto;
        margin-right: auto;
        min-width: 500px;
}

.flex-quarter-unit {
        flex: 0 0 25%;
        margin-left: auto;
        margin-right: auto;
        min-width: 400px;
}



/* Modify for DESKTOP: */
@media only screen and (min-device-width: 961px) {

        .word-box {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                height: 2em;
        }

        input[type="text"] {
                font-size: 2em;
                border-radius: 8px;
                outline: none;
        }

        select {
                max-width: 600px;
                font-size: 1.5em;
                margin-left: auto;
                margin-right: auto;
        }

        .navlink {
                width: 3.5em;
                font-size: 2em;
        }
        
}
